.flexContainer
    display: flex
    flex-direction: column
    justify-content: space-between

.topContainer
    display: flex
    justify-content: space-between

.quote
    display: flex

.weather
    display: flex
    justify-content: space-around
    p
        margin: 0rem

.clock
    display: flex
    justify-content: center
    text-align: center
    p
        margin: 0rem

.todo
    display: flex
    justify-content: space-between
    .taskList
        text-align: left
.tasks
    display: flex
    justify-content: space-between
.completed
    text-decoration: line-through
.imageBtn
    max-height: 50px
    align-self: flex-end
    background: rgba(0,0,0,.0)
    color: white

.sectionBackground
    color: white
    background: rgba(0,0,0,.4)
    box-shadow: 0 0 20px 10px black

.hidden
    height: 0
    opacity: 0
    cursor: default

.remove
    color: red
.action
    transition: all .2s linear
    opacity: .7
    cursor: pointer
.action:hover
    opacity: 1